#title{
  background-color: #ff4c68 ;
}

h1 {  font-family: 'Montserrat';  font-size: 3rem;  line-height: 1.5;  font-weight: 900; color: #fff;}

.container-fluid{
  padding: 3% 15%;
}



.navbar-brand{
  
    font-family: 'Ubuntu';
    position: absolute;
    font-size: 50px;
    color: #fff;
   
   
   
  };



  #features{
   
   padding-right: 50%;
   background-color: #fff;
   position: absolute;
   z-index: 1;
    
  }
.col{
  padding: 5% 10%;
  text-align: center;
 
  
}

.icon{

  color: #ff4c68;
  padding-left: 3%;
  margin-top: 4rem;
  align-items: center;
}

.icon:hover{
  color: grey;
}

.iphone{
  transform: rotate(25deg);
  position: relative;
  top: 90px;
  
  
 
}

p{
  font-family: 'Montserrat';   color: grey;

}

#testimonials{
  padding: 7% 15%;
  text-align: center;
  background-color: #ff4c68;
  color: #fff;
 
}

.testimonial-image{
  padding: 3%;
  width: 250px;
  border-radius: 100%;
}

h2{
  font-family: 'Montserrat-Bold';
}


#press{
  background-color: #ff4c68;
  padding-bottom: 7%;
  padding-left: 2%;
}

#cta{
  background-color: #ff4c68;
  color: #fff;
  font-family: 'Montserrat'; 
  padding: 5% 10%;
   text-align: center;
     
}

.end{
  
  font-size: 150px;
}

.end2{
  padding: 5% 10%;
}

#footer{
  text-align: center;
  padding: 5% 20%;
  
  
}

.social-icon{
  margin: 20px 10px;
}